@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBasicoProjeto.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="\Content\images\dunzer-logo.png" class="img-rounded">
        </div>
    </div>
</div>
