@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}

<form class="form-signin">
        <h2 class="form-signin-heading">Login</h2>
        <input type="text" class="input-block-level" placeholder="Usuario">
        <input type="password" class="input-block-level" placeholder="Senha">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Lembrar senha
        </label>
        <button class="btn btn-large btn-primary" type="submit">Logar</button>
        <img src="\Content\images\dunzer-logo.png" class="img-rounded">
      </form>